<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 扫描项目中的注解bean service -->
    <context:component-scan base-package="com.applet.api.service">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.applet.api.mapper"/>
    </bean>

    <!-- 加载数据源配置文件 -->
    <bean id="propertyConfig"
          class="com.applet.api.core.spring.EncryptPropertyConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config/properties/config.properties</value>
            </list>
        </property>
    </bean>

    <!--AOP自动代理 用于切面编程 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- 数据库相关、事务配置 -->
    <import resource="spring-jdbc.xml"/>
    <!--<import resource="spring-redis.xml"/>-->
</beans>